html,
body {
  height: 100%;
}

body {
  background-image: url(https://res.cloudinary.com/htc0pkenr/image/upload/v1580831254/portfolio/yyssnwof3lx1yaaief9a.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
 min-height: 100%;
 display: flex;
 flex-direction: column;
 align-content: space-between;
 margin: 0;
}

.header {
  height: 20%;
  min-height: 15vh;

}

.carousel, .text {
  background-color: white;
}
.footer, .header {
  background-color: blue;
  color: white;
}
.content {

  height: 60%;
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.carousel {
  width: 100%;
}

.text {
  margin-top: 10vh;
  height: auto;
  width: 100%;
}
.footer {
  min-height: 10vh;
  height: 10%;
}

img {
  width: auto;
}
